<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jsonPlaceHolder" parallel="tests" thread-count="1">
    <test name="jsonPlaceHolder">
        <classes>
            <class name="jsonPlaceHolder.tests.PostsTests"/>
            <class name="jsonPlaceHolder.tests.UsersTests"/>
        </classes>
    </test>
</suite>